@import '@modules/components/palette.less';

.sch-toolbar {
  display: flex;

  > * {
    margin-left: 20px;
  }

  > :first-child {
    margin-left: 0;
  }

  .sch-generic-dropdown__selection {
    width: 125px;
  }

  &__selected-tickers {
    margin: 0 0 0 20px;
    list-style: none;
    padding: 0;

    &__item {
      .sch-toolbar-border();
      padding: 3px;
      display: inline-block;
      margin-right: 5px;
      user-select: none;

      &__0 {
        background-color: @chart-color-0;
      }

      &__1 {
        background-color: @chart-color-1;
      }

      &__2 {
        background-color: @chart-color-2;
      }

      &:last-child {
        margin-right: 0;
      }

      button {
        .sch-generic-button();
      }
    }
  }

  &__price-type {
    appearance: none;
    border-radius: 0 !important;
    background-color: @bg-color;
    color: black;

    &[data-open],
    &[data-open] datalist {
      background-color: @bg-color;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
